*,*::after,*::before{
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
    margin:0;
    padding: 0px;
    background-color: #9DC6A7;
    scroll-behavior: smooth;
    overflow-x: hidden;
    
    
}



nav {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    gap:3%;
    background-color: #7D5E2A;
    color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    max-width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #D1F5D3;
    font-weight: bold;
}
/* dropdown {
    float: left;
    overflow: hidden;
} */

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: 100vh;
    background-color: #d1f5d300;
    color: #e39f0e;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-image: url(images/vecteezy_animated-floral-art-text-frame-with-alpha-channel-wedding_8854298.gif);
    background-size:1800px;
    background-repeat: no-repeat;
    background-position:center;
}

.content h1{
    font-size: 40px;
    max-width: 90%;
    text-align: center;
    font-weight: bolder;
    font-style:italic;
}

footer {
    background-color: #7D5E2A;
    color: white;
    text-align: center;
    padding: 5px;
    position:fixed;
    bottom: 0;
    width: 100%;
}


/* My Learning */

.content-2{


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height:100vh;
    background-color: #000000;
    color: #e39f0e;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-repeat: no-repeat;
    background-position:center;
}
.card-container{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 2%;
    max-width: 85%;
}

.card{
   
    display: flex;
    align-items: center;
    justify-content: center;
    /* max-width:45%; */
    border: 1px solid #e39f0e;
    border-radius: 8px;
    overflow: hidden;
}

.card img {
    
    width: 100px;
    height: 100px;
    padding: 2%;
    object-fit: cover;
    border-radius: 8px 0 0 8px;
    margin-right: 8px;
}

/* Style for the card content */
.card-content {
    padding: 16px;
}

/* Style for the heading */
.card-content h4 {
    margin: 0 0 8px;
    color:#e39f0e;
   
}

/* Style for the paragraph */
.card-content p {
    margin: 0;
    color:#e39f0e;
}
/* expert-contaioner */

.expert-container{
    background-image: url('images/18505068_SL-070720-32260-33.jpg'); 
    background-size: cover;
    background-position: center;
    color: white;
    width: 100%;
    height: 800px;
    margin-bottom: 50px;
    text-align: center;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.5);
}

.wrapper {
  
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-expert {
    height: 380px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.card-expert {
    width: 80px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}

.card-expert > .row {
    color: white;
    display: flex;
    flex-wrap: nowrap;
}

.card-expert > .row > .icon {
    background: #223;
    color: white;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.card-expert > .row > .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 500px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.description p {
    color: #b0b0ba;
    padding-top: 5px;
}

.description h4 {
    text-transform: uppercase;
}

input {
    display: none;
}

input:checked + label {
    width: 600px;
}

input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card-expert[for="c1"] {
    background-image: url('images/astral-concept-wallpaper.jpg');
}
.card-expert[for="c2"] {
    background-image: url('images/astronauts-leaving-cabin-science-fiction-illustrations-digital-painting.jpg');
}
.card-expert[for="c3"] {
    background-image: url('images/glowing-spaceship-orbits-sphere-deep-space-generated-by-ai.jpg');
}
.card-expert[for="c4"] {
    background-image: url('images/space-travel-vehicle-orbiting-planet-with-technology-generative-ai.jpg');
}





/* media queries */


@media ( max-width:900px){
    .container-expert {
        height: 300px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: start;
    }
    input:checked + label {
        width: 400px;
    }
    .card-container{
        display:flex;
        flex-wrap:nowrap;
        overflow-x: auto;   
    }
    .card{
        width:400px;
    }
    .description p {
        color: #b0b0ba;
        padding-bottom: 15px;
        padding-right: 45px;
    }
    .content-2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        height:50vh;
        background-color: #000000;
        color: #e39f0e;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-repeat: no-repeat;
        background-position:center;
    }

}    

    /* intermediate */
    /* .card-container {
        display: flex;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        white-space: nowrap;
    }

    .card {
        flex: 0 0 100%;
        box-sizing: border-box;
        padding: 20px;
        text-align: center;
        scroll-snap-align: start;
        background-color: #ffffff;
        margin: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s;
    }

    input[type="radio"] {
        display: none;
    }

    label {
        cursor: pointer;
        padding: 10px;
        margin: 5px;
        border: 1px solid #ddd;
        background-color: #f9f9f9;
        display: inline-block;
        transition: background-color 0.3s;
    }

    label:hover {
        background-color: #e0e0e0;
    }

    input[type="radio"]:checked + label {
        background-color: #4CAF50;
        color: white;
    }
} */

@media ( max-width:750px){
    .container-expert {
        height: 220px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: start;
    }
    input:checked + label {
        width: 250px;
    }

}

@media ( max-width:600px){
    .container-expert {
        height: 300px;
        width: 90%;
        display: block;
        flex-wrap: wrap;
        justify-content: start;
    }
    input:checked + label {
        width: 90%;
        height: 100%;
        margin: 20px 0;
    }
    .card{
        width:300px;
    }

}